.menu {
    // .menu__icon
    &__icon {
    }
    // .menu__body
    &__body {
        @media (max-width: $tablet) {
            position: fixed;
            width: 100%;
            // height: 100%;
            left: -100%;
            top: 0;
            overflow: auto;
            padding: toRem(20) toRem(15) toRem(20) toRem(15);
            transition: left 0.3s;
            background: #ffffff;
            z-index: 10;
            border-radius: toRem(0) toRem(0) toRem(20) toRem(20);
            &::before {
                content: "";
                position: fixed;
                width: 100%;
                height: toRem(70);
                left: -100%;
                top: 0;
                transition: left 0.3s;
                z-index: 2;
            }
            .menu-open & {
                left: 0;
                &::before {
                    left: 0;
                }
            }
        }
    }
    // .menu__list
    &__list {
        @media (max-width: $tablet) {
        }
    }
    // .menu__item
    &__item {
    }
    // .menu__link
    &__link {
        @media (max-width: $tablet) {
        }
    }
}

//Burger Icon
.icon-menu {
    display: none;
    @media (max-width: $tablet) {
        display: block;
        position: relative;
        width: toRem(40);
        height: toRem(8);
        z-index: 10;
        @media (any-hover: none) {
            cursor: default;
        }

        &::before,
        &::after {
            content: "";
            transition: all 0.3s ease 0s;
            right: 0;
            position: absolute;
            width: toRem(40);
            height: toRem(2);
            background-color: #5a5a5a;
        }
        &::before {
            top: 0;
        }
        &::after {
            bottom: 0;
            width: toRem(32);
        }
        span {
            top: calc(50% - toRem(1));
        }
        .menu-open & {
            span {
                width: 0;
            }
            &::before,
            &::after {
            }
            &::before {
                top: calc(50% - toRem(1));
                transform: rotate(-45deg);
            }
            &::after {
                bottom: calc(50% - toRem(1));
                transform: rotate(45deg);
            }
        }
    }
}
