//====================================================================================================
// Hero
.hero {
    // .hero__container
    &__container {
    }
    &__main {
        position: relative;
    }
    // .hero__content
    &__content {
        position: absolute;
        bottom: 0;
        left: 0;
        // max-width: toRem(688);
        @include adaptiveValue("max-width", 688, 100);
        background-color: #fff;
        padding-top: toRem(10);
        @media (max-width: $tablet) {
            background-color: transparent;
            position: relative;
            max-width: 100% !important;
            width: 100% !important;
        }
    }
    // .hero__title
    &__title {
        font-family: "Montserrat";
        @include adaptiveValue("font-size", 36, 16);
        font-style: normal;
        font-weight: 700;
        line-height: 121.906%;
        background: linear-gradient(202deg, #071739 2.71%, #4b6382 85.56%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        @media (max-width: $tablet) {
            display: flex;
            justify-content: space-between;
            align-items: start !important;
            gap: toRem(10);
        }
        @media (max-width: $mobile) {
            align-items: start !important;
        }
    }
    // .hero__desc
    &__desc {
        @include adaptiveValue("margin-top", 20, 10);
        color: #000;
        @include adaptiveValue("font-size", 16, 12);
        font-style: normal;
        font-weight: 400;
        line-height: toRem(24); /* 150% */
    }
    // .hero__btn
    &__btn {
        position: absolute;
        bottom: 0;
        right: 0;
        @media (max-width: $tablet) {
            position: relative;
            margin-top: auto;
        }
    }
    &__img {
        width: 100%;
        &:nth-child(1) {
            display: block;
            @media (max-width: $tablet) {
                display: none;
            }
        }
        &:nth-child(2) {
            display: none;
            @media (max-width: $tablet) {
                display: block;
            }
            @media (max-width: $mobile) {
                display: none;
            }
        }
        &:nth-child(3) {
            display: none;
            @media (max-width: $mobile) {
                display: block;
            }
        }
    }
}
//====================================================================================================

.mission {
    // .mission__container
    @media (max-width: $tablet) {
        padding-top: toRem(110);
        padding-bottom: toRem(110);
    }
    @media (max-width: $mobile) {
        padding-top: toRem(0);
        padding-bottom: toRem(0);
    }
    &__container {
        background-image: url("@img/mission.png");
        background-position: center;
        background-repeat: no-repeat;
        min-height: toRem(480);

        @media (max-width: $tablet) {
            background-image: url("@img/mission-tab.png");
            background-size: 100% auto;
            background-position: center center;
            min-height: auto;
            height: toRem(700);
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        @media (max-width: $mobile) {
            background-image: url("@img/mission-mob.png");
            background-size: center;
            padding: toRem(30) toRem(15);
            height: auto;
            min-height: toRem(480);
        }
    }

    // .mission__wrapper
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: toRem(28);
        padding: toRem(0) toRem(30);
        @include adaptiveValue("column-gap", 240, -200);
        @media (max-width: $tablet) {
            grid-template-columns: repeat(1, 1fr);
            padding: 0;
            width: 100%;
            // margin-top: toRem(110);
        }
    }

    // .mission__item
    &__item {
        padding: toRem(6) toRem(15);
        display: flex;
        align-items: flex-start;
        gap: toRem(20);
        flex-shrink: 0;
        background: linear-gradient(222deg, #fff 29.19%, #f2f2f2 70.3%, #e3e3e3 97.6%);
        box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.25);

        @media (max-width: $tablet) {
            max-width: toRem(509);
            justify-self: center;
        }
    }

    // .mission__item-num
    &__item-num {
        color: rgba(134, 134, 134, 0.25);
        font-weight: 200;
        line-height: toRem(62); /* 73.81% */
        @include adaptiveValue("font-size", 84, 64);
    }

    // .mission__item-desc
    &__item-desc {
        padding: toRem(10);
        color: #5a5a5a;
        font-weight: 400;
        line-height: toRem(24); /* 150% */
        @include adaptiveValue("font-size", 16, 12);
    }
}
//========================================================================================================================================================
// Benefits
.benefits {
    // .benefits__container
    &__container {
    }
    // .benefits__title
    &__title {
    }
    // .benefits__desc
    &__desc {
    }
    // .benefits__wrapper
    &__wrapper {
        margin-top: toRem(30);
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        @include adaptiveValue("column-gap", 64, 32);
        row-gap: toRem(26);
        @media (max-width: $tablet) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
    // .benefits__item
    &__item {
        display: flex;
        gap: toRem(15);
    }
    // .benefits__item-icon
    &__item-icon {
        // width: toRem(70);
        // height: toRem(70);
        @include adaptiveValue("width", 70, 40);
        @include adaptiveValue("height", 70, 40);
        svg {
            // width: toRem(70);
            // height: toRem(70);
            @include adaptiveValue("width", 70, 40);
            @include adaptiveValue("height", 70, 40);
        }
    }
    // .benefits__item-content
    &__item-content {
    }
    // .benefits__item-heading
    &__item-heading {
        // font-size: toRem(20);
        font-style: normal;
        font-weight: 600;
        line-height: toRem(24); /* 120% */
        @include adaptiveValue("font-size", 20, 16);
    }
    // .benefits__item-desc
    &__item-desc {
        margin-top: toRem(12);
        font-style: normal;
        font-weight: 400;
        line-height: toRem(24); /* 120% */
        @include adaptiveValue("font-size", 16, 12);
    }
    &__bottom {
        font-size: toRem(20);
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        width: 100% !important;
        @include adaptiveValue("font-size", 20, 16);
        @include adaptiveValue("margin-top", 30, 10);
    }
}
.title {
}
.section {
    // .section__desc
    &__desc {
    }
}
//========================================================================================================================================================
// Features
.features {
    // .features__container
    &__container {
        background-image: url("@img/features.png");
        background-position: right toRem(60) center;
        background-repeat: no-repeat;
        @media (max-width: $tablet) {
            background-image: none;
        }
        // @media (max-width: $mobile) {
        //     background-image: url("@img/features-mob.png");
        //     background-position: left;
        //     background-repeat: no-repeat;

        // }
        [dir="rtl"] & {
            background-position: left;
            background-image: url("@img/features-rtl.png");
            @media (max-width: $tablet) {
                background-image: none;
            }
        }
    }
    // .features__title
    &__title {
    }
    // .features__desc
    &__desc {
    }
    // .features__wrapper
    &__wrapper {
        @include adaptiveValue("margin-top", 80, 30);
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: toRem(50);
        column-gap: toRem(32);
        @media (max-width: $tablet) {
            grid-template-columns: repeat(2, 1fr);
            row-gap: toRem(30);
            column-gap: toRem(22);
            background-image: url("@img/features-tab.png");
            background-size: toRem(276) auto;
            background-position: right;
            background-repeat: no-repeat;
        }

        @media (max-width: $mobile) {
            background-image: url("@img/features-mob.png");
            background-position: left;
            background-size: cover;
            background-repeat: no-repeat;
            column-gap: toRem(10);
        }
        [dir="rtl"] & {
            @media (max-width: $mobile) {
                background-position: right;
                background-size: contain;
                background-image: url("@img/features-mob-rtl.png");
            }
        }
    }
    // .features__item
    &__item {
        padding: toRem(20) toRem(10);
        background: linear-gradient(222deg, #fff 29.19%, #f2f2f2 70.3%, #e3e3e3 97.6%);
        box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.25);
        @media (max-width: $mobile) {
            // max-width: toRem(164);
            // max-width: 100%;
            @include adaptiveValue("max-width", 630, 150);
        }
        &:last-child {
            background: transparent;
            box-shadow: none;
            margin-top: toRem(0);
            max-width: toRem(275);
            // max-width: 50%;
            justify-self: center;
            @media (max-width: $tablet) {
                max-width: 90% !important;
            }
            @media (max-width: $mobile) {
                //
            }
        }
    }
    // .features__item-heading
    &__item-heading {
        color: #000;
        font-style: normal;
        font-weight: 600;
        line-height: toRem(24); /* 120% */
        @include adaptiveValue("font-size", 20, 16);
        overflow-wrap: break-word;
    }
    // .features__item-desc
    &__item-desc {
        margin-top: toRem(20);
        font-style: normal;
        font-weight: 400;
        line-height: toRem(24); /* 120% */
        @include adaptiveValue("font-size", 16, 12);
    }
}
.title {
}
.section {
    // .section__desc
    &__desc {
        @include adaptiveValue("font-size", 20, 16);
    }
}
//========================================================================================================================================================
// Technology
.technology {
    // .technology__container
    &__container {
    }
    // .technology__title
    &__title {
    }
    // .technology__desc
    &__desc {
    }
    // .technology__item
    &__item {
        margin-top: toRem(20);
        display: flex;
        gap: toRem(30);
        &:nth-child(3) {
            margin-top: toRem(42);
        }
    }
    // .technology__item-icon
    &__item-icon {
        padding: toRem(10) toRem(5);
        background: linear-gradient(222deg, #fff 59.2%, #dbdada 97.6%);
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
        max-width: toRem(100) !important;
        max-height: toRem(100) !important;
        @include adaptiveValue("width", 100, 60);
        @include adaptiveValue("height", 100, 60);
        svg {
            @include adaptiveValue("width", 84, 40);
            @include adaptiveValue("height", 80, 40);
        }
        svg.svg-fix {
            width: toRem(80);
            height: toRem(84);
            @include adaptiveValue("width", 80, 40);
            @include adaptiveValue("height", 84, 44);
        }
    }
    // .technology__item-heading
    &__item-heading {
        // font-size: toRem(20);
        font-style: normal;
        font-weight: 600;
        line-height: toRem(24); /* 120% */
        @include adaptiveValue("font-size", 20, 16);
    }
    // .technology__item-desc
    &__item-desc {
        margin-top: toRem(12);
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 150% */
        @include adaptiveValue("font-size", 16, 12);
    }
    // .technology__bottom
    &__bottom {
        margin-top: toRem(40);
        font-size: toRem(20);
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
}
.title {
}
.section {
    // .section__desc
    &__desc {
    }
}
//========================================================================================================================================================
// Solutions
.solutions {
    position: relative;
    // .solutions__container
    &__container {
    }
    // .solutions__top
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: toRem(20);
        div {
            @include adaptiveValue("max-width", 900, 100);
            @media (max-width: $tablet) {
                max-width: 100% !important;
                width: 100% !important;
            }
        }
        img {
            display: block;
            @media (max-width: $tablet) {
                display: none;
                max-width: 100% !important;
                width: 100% !important;
            }

            &:nth-child(3) {
                display: none;
                @media (max-width: $tablet) {
                    display: block;
                    max-height: toRem(206);
                }
                @media (max-width: $mobile) {
                    // display: none;
                }
            }
            &:nth-child(4) {
                display: none;
                @media (max-width: $mobile) {
                    // display: block;
                }
            }
        }
    }
    // .solutions__title
    &__title {
    }
    // .solutions__desc
    &__desc {
    }
    // .solutions__wrapper
    &__wrapper {
        margin-top: toRem(80);
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        @include adaptiveValue("gap", 80, 40);
        @media (max-width: $tablet) {
            grid-template-columns: repeat(1, 1fr);
            gap: toRem(80);
        }
    }
    // .solutions__item
    &__item {
        position: relative;
        padding: toRem(20) toRem(20) toRem(70) toRem(20);
        background: linear-gradient(222deg, #fff 59.2%, #dbdada 97.6%);
        box-shadow: 0px 6px 12px 0px rgba(134, 134, 134, 0.25);
        @media (max-width: $tablet) {
            max-width: 80% !important;
            width: 80% !important;
            justify-self: center;
            &::before {
                content: "";
                position: absolute;
                top: toRem(-50);
                left: 0;
                width: 100vw;
                margin-left: calc(-50vw + 50%);
                height: toRem(70);
                background-image: url("@img/solutions-bg.png");
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                z-index: -1;
            }
        }
        @media (max-width: $mobile) {
            &::before {
                content: "";
                background-image: url("@img/solutions-bg-mob.png");
            }
        }
        @media (max-width: $mobile) {
            max-width: 100% !important;
            width: 100% !important;
        }
    }
    // .solutions__list
    &__list {
        display: flex;
        flex-direction: column;
        gap: toRem(18);
    }
    // .solutions__list-item
    &__list-item {
        padding-left: toRem(45);
        position: relative;
        font-weight: 400;
        line-height: 24px; /* 150% */
        @include adaptiveValue("font-size", 16, 12);
        list-style: none;
        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: toRem(5);
            width: toRem(29);
            height: toRem(22);
            background-image: url("@img/icons/check.svg");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }
        @media (max-width: $mobile) {
            &::before {
                content: "";
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
    &__btn {
        border: none !important;
        position: absolute;
        bottom: toRem(-15);
        left: 50%;
        transform: translateX(-50%);
        width: auto;
        @media (max-width: $tablet) {
            // width: 54%;
            gap: toRem(10);
            span {
                display: block;
                // font-size: toRem(16);
            }
        }
        @media (max-width: $mobile) {
            gap: toRem(10);
            span {
                font-size: toRem(14);
            }
        }
        @media (max-width: $mobileSmall) {
            // width: 60%;
            justify-content: center;
            span {
                // font-size: toRem(11);
            }
        }
        @media (max-width: 413px) {
            width: 60%;
            span {
                font-size: toRem(12);
            }
        }
    }
    &__bg {
        position: absolute;
        top: toRem(300);
        width: 100%;
        max-height: toRem(108);
        z-index: -1;
        @media (max-width: $tablet) {
            display: none;
        }
    }
}
//========================================================================================================================================================
// Parthnership
.parthnership {
    // .parthnership__top
    &__top {
        padding: toRem(46) toRem(0) toRem(20) toRem(0);
        background-image: url("@img/parthnership.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        @media (max-width: $tablet) {
            background-image: url("@img/parthnership-tab.png");
        }
        @media (max-width: $mobile) {
            background-image: url("@img/parthnership-mob.png");
        }
        [dir="rtl"] & {
            background-image: url("@img/parthnership-rtl.png");
            @media (max-width: $tablet) {
                background-image: url("@img/parthnership-tab-rtl.png");
            }
            @media (max-width: $mobile) {
                background-image: url("@img/parthnership-mob-rtl.png");
            }
        }
    }
    // .parthnership__container
    &__container {
    }
    // .parthnership__title
    &__title {
    }
    // .parthnership__desc
    &__desc {
        font-style: normal;
        font-weight: 400;
        line-height: toRem(24); /* 150% */
        @include adaptiveValue("font-size", 16, 12);
        @include adaptiveValue("margin-top", 30, 10);
        @include adaptiveValue("max-width", 730, 100);
        @media (max-width: $tablet) {
            max-width: 100% !important;
            width: 100% !important;
        }
        @media (max-width: $mobile) {
            max-width: 80% !important;
        }
    }
    // .parthnership__subtitle
    &__subtitle {
        @include adaptiveValue("margin-top", 60, 40);
        font-size: toRem(20);
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    // .parthnership__wrapper
    &__wrapper {
        @include adaptiveValue("margin-top", 60, 40);
        padding-top: toRem(34);
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: toRem(40);
        position: relative;
        &::before {
            content: "";
            position: absolute;
            top: toRem(-9);
            left: toRem(41);
            // width: 80.5%;
            @include adaptiveValue("width", 1070, 270);
            height: 2px;
            background: linear-gradient(202deg, #071739 2.71%, #4b6382 85.56%);
            [dir="rtl"] & {
                right: toRem(41);
            }
        }
        @media (max-width: $tablet) {
            grid-template-columns: repeat(2, 1fr);
            column-gap: toRem(160);
            row-gap: toRem(30);
            &::before {
                display: none;
            }
            @include adaptiveValue("column-gap", 160, 80);
        }
        @media (max-width: $mobile) {
            column-gap: toRem(40);
            row-gap: toRem(8);
            padding-top: toRem(0);
        }
    }
    // .parthnership__item
    &__item {
        position: relative;
        &::before {
            content: "";
            position: absolute;
            top: toRem(-43); // Відступ до верхньої лінії
            left: toRem(40);
            transform: translateX(-50%);
            width: 2px;
            height: toRem(36);
            background: linear-gradient(202deg, #071739 2.71%, #4b6382 85.56%);
            [dir="rtl"] & {
                right: toRem(38);
            }
        }
        &:first-child {
            &::before {
                top: toRem(-70);
                height: toRem(60);
            }
        }
        @media (max-width: $tablet) {
            &::before {
                display: none;
            }
        }
    }
    // .parthnership__num
    &__num {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: toRem(20) toRem(20);
        @include adaptiveValue("width", 80, 40);
        @include adaptiveValue("height", 80, 40);
        border-radius: 100%;
        background: linear-gradient(202deg, #071739 2.71%, #4b6382 85.56%);
        color: #fff;
        font-style: normal;
        font-weight: 200;
        line-height: normal;
        @include adaptiveValue("font-size", 36, 20);
    }
    // .parthnership__item-desc
    &__item-desc {
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 150% */
        @include adaptiveValue("font-size", 16, 12);
        @include adaptiveValue("margin-top", 34, 20);
    }
    &__bottom {
        margin-top: toRem(35);
        min-height: toRem(320);
        position: relative;
        background-image: url("@img/parthnership-bg.png");
        background-size: auto cover;
        background-position: top;
        background-repeat: no-repeat;
        @media (max-width: $tablet) {
            background-image: url("@img/parthnership-bg-tab.png");
            background-size: cover;
        }
        @media (max-width: $mobile) {
            background-image: url("@img/mission-mob.png");
            background-size: auto cover;
            background-position: left;
            min-height: toRem(390);
            @include adaptiveValue("min-height", 0, 560);
        }
    }
    &__content {
        background: #fff;
        position: absolute;
        top: toRem(15);
        right: 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: toRem(38);
        row-gap: toRem(24);
        @include adaptiveValue("max-width", 934, 500);
        @media (max-width: $tablet) {
            grid-template-columns: repeat(2, 1fr);
            max-width: 80% !important;
        }
        @media (max-width: $mobile) {
            grid-template-columns: repeat(1, 1fr);
            max-width: 60% !important;
            // width: 80% !important;
            padding: toRem(0) toRem(10) toRem(5) toRem(10);
            top: 0;
            right: 0;
            row-gap: toRem(18);
        }
        &-item {
            font-weight: 400;
            line-height: 24px; /* 150% */
            padding-left: toRem(40);
            @include adaptiveValue("font-size", 16, 12);
            position: relative;
            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: toRem(5);
                width: toRem(30);
                height: toRem(30);
                border-radius: 100%;
                background: linear-gradient(202deg, #071739 2.71%, #4b6382 85.56%);
                z-index: 1;
                @include adaptiveValue("width", 30, 20);
                @include adaptiveValue("height", 30, 20);
                @include adaptiveValue("left", 0, 10);
            }
            &::after {
                content: "";
                position: absolute;
                left: toRem(7.5);
                top: toRem(13.5);
                // width: toRem(15);
                // height: toRem(15);
                background-image: url("@img/icons/check-white.svg");
                background-repeat: no-repeat;
                background-size: contain;
                z-index: 2;
                @include adaptiveValue("width", 15, 12);
                @include adaptiveValue("height", 15, 12);
                @include adaptiveValue("left", 7.5, 14);
                @include adaptiveValue("top", 14, 10);
                @media (max-width: $tablet) {
                    // left: toRem(10);
                    // top: toRem(12);
                }
                @media (max-width: $mobile) {
                    // left: toRem(11);
                    // top: toRem(11);
                    // width: toRem(14);
                    // height: toRem(14);
                }
            }
        }
    }
    &__benefits {
        margin-top: toRem(40);
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: toRem(57);
        @media (max-width: $tablet) {
            grid-template-columns: repeat(2, 1fr);
            gap: toRem(80);
        }
        @media (max-width: $mobile) {
            grid-template-columns: repeat(2, 1fr);
            gap: toRem(40);
        }
        &-item {
        }
        &-icon {
            max-width: toRem(120);
            // width: 100%;
            max-height: toRem(112);
            // height: 100%;
            @include adaptiveValue("max-width", 120, 50);
            @include adaptiveValue("max-height", 106, 50);
            svg {
                @include adaptiveValue("max-width", 120, 50);
                @include adaptiveValue("max-height", 106, 50);
                // width: 100%;
                // height: 100%;
            }
        }
        &-desc {
            // margin-top: toRem(27);
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 150% */
            @include adaptiveValue("font-size", 16, 12);
            @include adaptiveValue("margin-top", 27, 10);
        }
    }
}
.title {
}
.section {
    // .section__desc
    &__desc {
    }
}

//========================================================================================================================================================

//========================================================================================================================================================
// Contact
.contact {
    padding: toRem(60) toRem(0);
    background-image: url("@img/contact.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    // @media (max-width: $tablet) {
    //     background-image: url("@img/contact-tab.png");
    // }
    // @media (max-width: $mobile) {
    //     background-image: url("@img/contact-mob.png");
    // }
    &__container {
        // .why__container
    }
    // .contact__container

    // .contact__wrapper
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: toRem(76);
        justify-self: center;
        @media (max-width: $tablet) {
            gap: toRem(22);
        }
    }
    // .contact__info
    &__info {
        padding: toRem(20) toRem(36);
        background: #fafafa;
        box-shadow: 0px 6px 12px 0px rgba(134, 134, 134, 0.25);
        position: relative;
        grid-column: span 2;
        @media (max-width: $tablet) {
            grid-column: span 1;
        }
        @media (max-width: $mobile) {
            grid-column: span 4;
        }
        &-desc {
            color: #5a5a5a;
            // font-family: "Helvetica Neue";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            padding-left: toRem(24);
            margin-top: toRem(14);
            @include adaptiveValue("font-size", 16, 14);
            position: relative;
            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                width: toRem(20);
                height: toRem(16);
                background-size: contain;
                background-repeat: no-repeat;
                @media (max-width: $mobile) {
                }
            }
            &.address {
                &::before {
                    content: "";
                    background-image: url("@img/icons/location.svg");
                    @media (max-width: $tablet) {
                        top: toRem(8);
                    }
                    @media (max-width: $mobile) {
                        top: toRem(8);
                    }
                }
            }
            &.phone {
                &::before {
                    content: "";
                    background-image: url("@img/icons/phone.svg");
                }
            }
            &.mail {
                &::before {
                    content: "";
                    background-image: url("@img/icons/mail.svg");
                }
            }
        }
    }
    // .contact__title
    &__title {
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        @include adaptiveValue("font-size", 20, 16);
    }
    // .contact__desc
    &__desc {
        color: #5a5a5a;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        @include adaptiveValue("margin-top", 20, 14);
        @include adaptiveValue("font-size", 16, 12);
        &.address {
            color: red;
        }
    }
    // .contact__heading
    &__heading {
        color: #444444;
        margin-top: toRem(16);
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        @include adaptiveValue("font-size", 20, 16);
    }
}

//========================================================================================================================================================
// Form
.contact {
    // .contact__form
    &__form {
        grid-column: span 1;
        padding: toRem(20) toRem(20) toRem(60) toRem(20);
        // border-radius: 20px;
        background: #fafafa;
        box-shadow: 0px 6px 12px 0px rgba(134, 134, 134, 0.25);
        position: relative;
        grid-column: span 2;
        @media (max-width: $tablet) {
            grid-column: span 3;
        }
        @media (max-width: $mobile) {
            grid-column: span 4;
            order: 1;
        }

        h2 {
            text-align: center;
            margin-bottom: toRem(4);
        }
        input {
            border: 1px solid #838383;
            background: #fff;
            padding: toRem(10) toRem(13);
            margin-top: toRem(12);
            color: #1e1e1e;
            font-size: toRem(16);
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
    // .contact__form-row
    &__form-row {
        display: flex;
        gap: toRem(8);
        align-items: center;
        margin-top: toRem(16);
        input {
            width: toRem(35);
            height: toRem(20);
            margin-top: toRem(0);
        }
        p {
            color: #1e1e1e;
            font-size: toRem(13);
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 184.615% */
        }
    }
    // .contact__form-row-checkbox
    &__form-row-checkbox {
    }
}
.custom-checkbox {
}
.form-btn {
    // margin-top: toRem(50);
    // width: 100%;
    padding: toRem(13) toRem(9);
    transition: ease 0.3s;

    &:hover {
        box-shadow: 0 0 toRem(15) rgba(75, 99, 130, 0.7);
    }
}
.btn {
}

//========================================================================================================================================================
// Legal
.legal {
    padding: toRem(16) toRem(0) toRem(60) toRem(0);
    // .legal__container
    &__container {
    }
    // .legal__title
    &__title {
        color: rgba(0, 0, 0, 0.96);
        font-style: normal;
        font-weight: 500;
        line-height: 36px; /* 112.5% */
        @include adaptiveValue("font-size", 32, 24);
    }
    // .legal__wrapper
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        @include adaptiveValue("gap", 40, 16);
        @media (max-width: $tablet) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
    // .legal__privacy
    &__privacy {
    }
    // .legal__heading
    &__heading {
        color: #444444;
        font-size: toRem(18);
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-top: toRem(20);
        margin-bottom: toRem(16);
    }
    // .legal__desc
    &__desc {
        color: #5a5a5a;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: toRem(4);
        @include adaptiveValue("font-size", 14, 12);
    }
    // .legal__subheading
    &__subheading {
        color: #444;
        margin-top: toRem(12);
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        @include adaptiveValue("font-size", 16, 14);
    }
    // .legal__terms
    &__terms {
    }
}

//========================================================================================================================================================
// Legal
.legal {
    padding: toRem(16) toRem(0) toRem(60) toRem(0);
    // .legal__container
    &__container {
    }
    // .legal__title
    &__title {
        color: rgba(0, 0, 0, 0.96);
        font-style: normal;
        font-weight: 500;
        line-height: 36px; /* 112.5% */
        @include adaptiveValue("font-size", 32, 24);
    }
    // .legal__wrapper
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        @include adaptiveValue("gap", 40, 16);
        @media (max-width: $tablet) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
    // .legal__privacy
    &__privacy {
    }
    // .legal__heading
    &__heading {
        color: #444444;
        font-size: toRem(18);
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-top: toRem(20);
        margin-bottom: toRem(16);
    }
    // .legal__desc
    &__desc {
        color: #5a5a5a;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: toRem(4);
        @include adaptiveValue("font-size", 14, 12);
    }
    // .legal__subheading
    &__subheading {
        color: #444;
        margin-top: toRem(12);
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        @include adaptiveValue("font-size", 16, 14);
    }
    // .legal__terms
    &__terms {
    }
}

//========================================================================================================================================================
